# Practical Exam: House sales

RealAgents is a real estate company that focuses on selling houses.

RealAgents sells a variety of types of house in one metropolitan area.

Some houses sell slowly and sometimes require lowering the price in order to find a buyer.

In order to stay competitive, RealAgents would like to optimize the listing prices of the houses it is trying to sell.

They want to do this by predicting the sale price of a house given its characteristics.

If they can predict the sale price in advance, they can decrease the time to sale.


## Data

The dataset contains records of previous houses sold in the area.

| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
| house_id    | Nominal. </br> Unique identifier for houses. </br>Missing values not possible. |
| city        | Nominal. </br>The city in which the house is located. One of 'Silvertown', 'Riverford', 'Teasdale' and 'Poppleton'. </br>Replace missing values with "Unknown". |
| sale_price  | Discrete. </br>The sale price of the house in whole dollars. Values can be any positive number greater than or equal to zero.</br>Remove missing entries. |
| sale_date   | Discrete. </br>The date of the last sale of the house. </br>Replace missing values with 2023-01-01. |
| months_listed  | Continuous. </br>The number of months the house was listed on the market prior to its last sale, rounded to one decimal place. </br>Replace missing values with mean number of months listed, to one decimal place. |
| bedrooms    | Discrete. </br>The number of bedrooms in the house. Any positive values greater than or equal to zero. </br>Replace missing values with the mean number of bedrooms, rounded to the nearest integer. |
| house_type   | Ordinal. </br>One of "Terraced" (two shared walls), "Semi-detached" (one shared wall), or "Detached" (no shared walls). </br>Replace missing values with the most common house type. |
| area      | Continuous. </br>The area of the house in square meters, rounded to one decimal place. </br>Replace missing values with the mean, to one decimal place. |

# Task 1

The team at RealAgents knows that the city that a property is located in makes a difference to the sale price. 

Unfortuntately they believe that this isn't always recorded in the data. 

Calculate the number of missing values of the `city`. 

 - You should use the data in the file "house_sales.csv". 

 - Your output should be an object `missing_city`, that contains the number of missing values in this column.

In [7]:
import pandas as pd

#in real life scenerio, missing values could be in any form ie (--), unkwon, or none
nan_values = ['--', 'unkwown']
df = pd.read_csv('house_sales.csv', na_values= nan_values)

#calculate no of missing values in city col
missing_city = df['city'].isnull().sum()
print(missing_city)

73

# Task 2 

Before you fit any models, you will need to make sure the data is clean. 

The table below shows what the data should look like. 

Create a cleaned version of the dataframe. 

 - You should start with the data in the file "house_sales.csv". 

 - Your output should be a dataframe named `clean_data`. 

 - All column names and values should match the table below.


| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
| house_id    | Nominal. </br> Unique identifier for houses. </br>Missing values not possible. |
| city        | Nominal. </br>The city in which the house is located. One of 'Silvertown', 'Riverford', 'Teasdale' and 'Poppleton' </br>Replace missing values with "Unknown". |
| sale_price  | Discrete. </br>The sale price of the house in whole dollars. Values can be any positive number greater than or equal to zero.</br>Remove missing entries. |
| sale_date   | Discrete. </br>The date of the last sale of the house. </br>Replace missing values with 2023-01-01. |
| months_listed  | Continuous. </br>The number of months the house was listed on the market prior to its last sale, rounded to one decimal place. </br>Replace missing values with mean number of months listed, to one decimal place. |
| bedrooms    | Discrete. </br>The number of bedrooms in the house. Any positive values greater than or equal to zero. </br>Replace missing values with the mean number of bedrooms, rounded to the nearest integer. |
| house_type   | Ordinal. </br>One of "Terraced", "Semi-detached", or "Detached". </br>Replace missing values with the most common house type. |
| area      | Continuous. </br>The area of the house in square meters, rounded to one decimal place. </br>Replace missing values with the mean, to one decimal place. |

In [20]:
df

,house_id,city,sale_price,sale_date,months_listed,bedrooms,house_type,area
0,1217792,Silvertown,55943,2021-09-12,5.4,2,Semi-detached,107.8 sq.m.
1,1900913,Silvertown,384677,2021-01-17,6.3,5,Detached,498.8 sq.m.
2,1174927,Riverford,281707,2021-11-10,6.9,6,Detached,542.5 sq.m.
3,1773666,Silvertown,373251,2020-04-13,6.1,6,Det.,528.4 sq.m.
4,1258487,Silvertown,328885,2020-09-24,8.7,5,Detached,477.1 sq.m.
...,...,...,...,...,...,...,...,...
1495,1123892,Riverford,198661,2022-02-17,7.3,5,Detached,432.2 sq.m.
1496,1327295,Poppleton,358304,2020-10-10,6.2,6,Detached,599.8 sq.m.
1497,1058161,Riverford,176612,2022-11-01,6.8,4,Detached,359.1 sq.m.
1498,1822037,Teasdale,197827,2021-04-03,5.4,3,Detached,253.7 sq.m.
1499,1679272,Poppleton,162099,2021-12-06,5.0,3,Detached,268.7 sq.m.

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   house_id       1500 non-null   int64
 1   city           1427 non-null   object
 2   sale_price     1500 non-null   int64
 3   sale_date      1500 non-null   object
 4   months_listed  1469 non-null   float64
 5   bedrooms       1500 non-null   int64
 6   house_type     1500 non-null   object
 7   area           1500 non-null   object
dtypes: float64(1), int64(3), object(4)
memory usage: 93.9+ KB

In [30]:
import numpy as np

clean_data = df.copy()

#lets clean up the data by converting it to the correct dtypes, removing null values and the rest

#starting with house_id (norminal) should be categorical dtype
clean_data['house_id'] = clean_data['house_id'].astype('category')

#replace null values in city col to 'Unknown'
clean_data['city'] = clean_data['city'].fillna('Unknown')

#remove missing values in sale_price
clean_data = clean_data.dropna(subset = 'sale_price')

#replace null values in sale_date with "2023-01-01" also change dtype to date
clean_data['sale_date'] = clean_data['sale_date'].fillna('2023-01-01')
clean_data['sale_date'] = pd.to_datetime(clean_data['sale_date'])

#replace null values in month_listed to the mean value round to 1 decimal place
mean_month_listed = clean_data['months_listed'].mean()
clean_data['months_listed'] = clean_data['months_listed'].fillna(round(mean_month_listed, 1))

#replace null bedrooms with mean 
mean_bedrooms = clean_data['bedrooms'].mean()
clean_data['bedrooms'] = clean_data['bedrooms'].fillna(round(mean_bedrooms))

#house type has some form of inconsistency, lets taccle it
house_dict_format = {'Det.': 'Detached',
                     'Det':  'Detached',
                     'semi': 'Semi-detached',
                     'Semi': 'Semi-detached',
                     'Terr.': 'Terraced',
                     'terr.': 'Terraced'
                     }
clean_data['house_type'] = clean_data['house_type'].replace(house_dict_format)

#remove string in area and convert to float
clean_data['area'] = clean_data['area'].str.replace('sq.m.', '' )
clean_data['area'] = clean_data['area'].astype('float64')

#A quick check
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   house_id       1500 non-null   category
 1   city           1500 non-null   object
 2   sale_price     1500 non-null   int64
 3   sale_date      1500 non-null   datetime64[ns]
 4   months_listed  1500 non-null   float64
 5   bedrooms       1500 non-null   int64
 6   house_type     1500 non-null   object
 7   area           1500 non-null   float64
dtypes: category(1), datetime64[ns](1), float64(2), int64(2), object(2)
memory usage: 129.1+ KB

# Task 3 

The team at RealAgents have told you that they have always believed that the number of bedrooms is the biggest driver of house price. 

Producing a table showing the difference in the average sale price by number of bedrooms along with the variance to investigate this question for the team.

 - You should start with the data in the file 'house_sales.csv'.

 - Your output should be a data frame named `price_by_rooms`. 

 - It should include the three columns `bedrooms`, `avg_price`, `var_price`. 

 - Your answers should be rounded to 1 decimal place.

In [45]:
price_by_rooms = clean_data.groupby('bedrooms')['sale_price'].agg(avg_price = 'mean', avg_var = 'var').round(1)
price_by_rooms

          avg_price       avg_var
bedrooms
2           67076.4  5.652896e+08
3          154665.1  2.378289e+09
4          234704.6  1.725211e+09
5          301515.9  2.484328e+09
6          375741.3  3.924432e+09

# Task 4

Fit a baseline model to predict the sale price of a house.

 1. Fit your model using the data contained in “train.csv” </br></br>

 2. Use “validation.csv” to predict new values based on your model. You must return a dataframe named `base_result`, that includes `house_id` and `price`. The price column must be your predicted values.

In [58]:
from sklearn.linear_model import LinearRegression

train = pd.read_csv('train.csv')
validation = pd.read_csv('validation.csv')

#select the features to use
features = ['months_listed', 'bedrooms', 'area']

#prepare X and y for training
X_train = train[features]
y_train = train['sale_price']

#prepare validation set
X_test = validation[features]


#use LinearRegression as base model
base_model = LinearRegression()
base_model.fit(X_train, y_train)
#make predictions
base_ypred = base_model.predict(X_test)

base_result = pd.DataFrame({
    'house_id': validation['house_id'],
    'price': base_ypred.round(1)
})
# print(validation.info())
# print(train.info())
base_result

     house_id     price
0     1331375  118876.1
1     1630115  257484.2
2     1645745  383988.5
3     1336775  117832.4
4     1888274  256378.7
..        ...       ...
295   1986255  346927.9
296   1896276  365824.1
297   1758223  239461.9
298   1752010  181628.6
299   1651404  353313.4

[300 rows x 2 columns]

# Task 5

Fit a comparison model to predict the sale price of a house.

 1. Fit your model using the data contained in “train.csv” </br></br>

 2. Use “validation.csv” to predict new values based on your model. You must return a dataframe named `compare_result`, that includes `house_id` and `price`. The price column must be your predicted values.

In [63]:
from sklearn.ensemble import RandomForestRegressor

compare_model = RandomForestRegressor(n_estimators=100)
compare_model.fit(X_train, y_train)

compare_ypred = compare_model.predict(X_test)

compare_result = pd.DataFrame({
    'house_id': validation['house_id'],
    'price': compare_ypred.round(1)
})
compare_result

     house_id     price
0     1331375  118524.6
1     1630115  269890.1
2     1645745  372720.0
3     1336775  104380.4
4     1888274  260662.1
..        ...       ...
295   1986255  305200.5
296   1896276  395867.0
297   1758223  239947.8
298   1752010  212323.9
299   1651404  410486.0

[300 rows x 2 columns]

In [84]:
#now let split the house_sale dataset and train the same models to find the accuracy and RMSE

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

#lets use our cleaned data 
features = ['months_listed', 'bedrooms', 'area']

X = clean_data[features]
y = clean_data['sale_price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=42 )

lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)
lin_y_pred = lin_reg.predict(X_test)

average_sale_price = clean_data['sale_price'].mean()
mse = mean_squared_error(y_test, lin_y_pred)
RMSE = np.sqrt(mse)
print(RMSE)
RMSE_percentage= (RMSE/average_sale_price)* 100
print(RMSE_percentage)

40787.108075334356
17.879554568655017

In [ ]:
forest = RandomForestRegressor()
forest.fit(X_train, y_train)
f_ypred = forest.predict(X_test)

mse_forest = mean_squared_error(y_test, f_ypred)
RMSE_F = np.sqrt(mse_forest)
print(RMSE_F)
RMSE_F_percentage= (RMSE_F/average_sale_price)* 100
print(RMSE_F_percentage)

43874.81281701144
19.23308974253257

In [79]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

features = ['months_listed', 'bedrooms', 'area', 'city', 'house_type']
categorical_features  = ['city', 'house_type']
preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(handle_unknown='ignore', sparse_output=False), 
         categorical_features)
    ],
    remainder='passthrough'
)

X = clean_data[features]
y = clean_data['sale_price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

mpipeline = Pipeline([
    ('processor', preprocessor),
    ('model', RandomForestRegressor()
     )])

mpipeline.fit(X_train, y_train)
y_pred = mpipeline.predict(X_test)
mean_squared = mean_squared_error(y_test, y_pred)
Root_MSE = np.sqrt(mean_squared)
percent_RMSE = (Root_MSE/average_sale_price)* 100
print(f'RMSE: {RMSE}')
print(f"RMSE percentage: {percent_RMSE}")

RMSE: 40787.11
RMSE percentage: 7.407268094212603